
.resume-containers {
    display: flex;
    justify-content: space-between; /* Ikkala qism o'rtasidagi masofani taqsimlash uchun */
    align-items: start; /* Vertikal markazlash uchun */
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto; /* O'rtaga joylashtirish uchun */

}

